@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.target-before:before {
  content: "";
  display: block;
  height: 60px; /* fixed header height */
  margin-top: -60px; /* negative fixed header height */
}

html {
  @apply m-0 h-full scroll-smooth p-0 transition-all duration-200;
}

body {
  @apply min-h-full overscroll-none;
}

code {
  @apply code;
}
pre {
  @apply pre p-4 text-xs;
}

pre button {
  @apply btn-icon absolute top-2 m-0;
}

ul {
  @apply list-inside list-disc ml-4;
}

ol {
  @apply list-inside list-disc ml-4;
}