/*place global styles here */
html, body {
	@apply h-full overflow-hidden dark:text-surface-200 text-surface-800;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.text-shadow{
	    @apply drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)];
}