@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


@import '@skeletonlabs/skeleton';

/* Optional */
@import '@skeletonlabs/skeleton/optional/presets';
/* Themes */
@import '@skeletonlabs/skeleton/themes/cerberus';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@custom-variant dark (&:where(.dark, .dark *));


html {
	scroll-behavior: smooth;
}
