@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
	@apply m-0 h-full scroll-smooth p-0 transition-all duration-200;
}

body {
	@apply min-h-full overscroll-none;
}

code {
	@apply code;
}
pre {
	@apply pre p-4 text-xs;
}

pre button {
	@apply btn-icon absolute top-2 m-0;
}
