name: Latest readmeblog post listing workflow
on:
  schedule: # Run workflow automatically
    - cron: '0 0 * * *'
  workflow_dispatch: # Run workflow manually (without waiting for the cron to be called), through the GitHub Actions Workflow page directly
permissions:
  contents: write # To write the generated contents to the readme

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull in "Dean's List" posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          comment_tag_name: "Dean's List"
          commit_message: 'Updated readme with the latest deans list data'
          feed_list: 'https://dean-cochran.com/rss.xml'
